/* --------------------- header & footer---------------------------- */
.header{
     width: 70px;
     margin-bottom: -10px;
}
nav.inline{
    display: inline;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

nav.inline a{
    font-family: Verdana;
    margin-right: 20px;
    text-decoration: none;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
}

nav.inline a:hover{
    color:cornflowerblue;
}

/* ----------------------------------------------------------------  */
.logo{
 height: 70px;   
}

#inside{
 display: block;    
}

/* ------------------------------------------------------------------ */

.index-mainl{
    width: 500px;
    height: 450px;
    background-color: rgb(245, 245, 245);
    border: 1px gray solid;
    border-radius: 10px;
}